body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(./Pink-Color-Background-images-free-download.jpg);
    aspect-ratio: 3/2;
    object-fit: cover;
    

}
.main-div{
    height: 380px;
    width: 580px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}
.add-task{
    background-color: rgb(30, 184, 102);
    margin-left: 15px;
    border-style: none;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;

}
.add-task:active{
    scale: 0.9;
    background-color: rgb(10, 131, 28);;
}
h1{
    color: #970503;
    margin-top: 70px;
}
input{
    margin-left: 110px;
    line-height: 22px;
    height: 30x;
    width: 190px;
    outline: none;
}
.delete-btn{
    border-style: none;
    border-radius: 10px;
    background-color: #a21c1c;
    height: 22px;
    width: 61px;
    /* margin-left: 4px; */
}
ul{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}
li{
    margin-top: 10px;
}
.footer{
    height: 20px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    border-bottom: 1px solid gray;
    width: 500px;
}